/*------------------
    Header
-------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,*,*::before,*::after{
    box-sizing: border-box;
  }
  
  html,body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rebeccapurple;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform:none ;
    font-weight: 500;
    margin: 0 0 1em;
  }
  
  h2{
    font-size: 1.5rem;
  }
  
  h3{
    font-size: 1.2rem;
  }
  
  ul{
    list-style: none;
  }
  
  a{
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }

  a:hover,a:active{
    text-decoration: none;
    color: rgb(238,168,14);
}
  
  .fix-width{
    width: 940px;
    margin: 0 auto;
  }
  
  .clearfix::before,
  .clearfix::after{
    content: " ";
    display: table;
  }
  
  .clearfix::after{
    clear: both;
  }

  title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color: rebeccapurple;
  }
  
  p{
    margin: 0.5em 0;
    line-height: 1.2;
    color: black;
  }
  
  .img-layout{
    height: 470px;
    width: 900px;
    padding-bottom: 0em;
    top: 1em;
    text-align: center;
    margin: auto;
    display: block;
  }

/*------------------
  Logo & Menu
------------------*/

nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

.logo{
    width: 23%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
}

.logo img{
    width: 100%;
}

ul{
    list-style: none;
}

.menu-ctn > li{
    display: inline-block;
    background-color: white;
    padding-right: 15px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
    padding-left: 0.3em;
    transition: all 0.5s ease;
    color: rgb(238,168,14);
    font-weight: bold;
    font-size: 23px;
    position: relative;
    
}

.menu-ctn li:hover{
    cursor: pointer;
    background-color: rgb(90,42,130);
    transition: all 0.5s ease;
    color: rgb(238,168,14);
}

#dropdown{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
    background-color: rgb(90,42,130);
}


#dropdown li{
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(243, 240, 245);
}

#dropdown > li:hover{
    background-color: rgb(90,42,130);
    transition: all 0.5s ease;
    
}

#dropdown:hover{
    background-color: rgb(90,42,130);
}

#dropdown.active{
    display: block;
   
}

/*==============
    Header
================*/

.page-header{
    border-top: 0px solid white;
}

.page-header>div{
    position: relative;
    padding-bottom: 0em;
}

.page-header nav{
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

.page-header nav li{
    color: rebeccapurple;
    float: left;
    margin-right: 3rem;
    padding-top: 2.5rem;
    font-size: 23px;
    text-emphasis: none;
    margin-bottom: 55px;
}

.page-header nav li:last-child{
    margin-right: 0;
}


/*===================
    paragraph
====================*/

.summary > h1{
    margin-left: 2em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

.summary > h4{
    margin-left: 3em;
    margin-top: 2em;
}

.summary > p{
    max-width: 80%;
    margin-left: 3em;
    line-height: 1.7em;
}

.sequence-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.index-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 600px;
    max-height: 550px;
    margin-left: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.img-index{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.operator-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.block::before{
    content: " ";
    display: block;
    height: 5px;
}

.block{
    background-color: rebeccapurple;
    height: 7px;
    clear: both;
    margin-top: 2em;
    margin-bottom: 2em;
}

.length-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.slice-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 980px;
    max-height: 950px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.slicing-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 450px;
    max-height: 420px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.conca-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.count-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.indexing-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.split-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}

.join-img{
    border-radius: 1em;
    box-shadow: 10px 10px 10px 10px gray;
    transition: 0.4s;
    max-width: 680px;
    max-height: 650px;
    margin-left: 7em;
    margin-top: 4em;
    margin-bottom: 4em;
}
/*=====================
    Footer
======================*/

.page-footer::before{
    content: " ";
    display: block;
    height: 5px;
}

.page-footer{
    background-color: lightgrey ;
    color: rebeccapurple;
    font-size: 1rem;
    height: 50px;
    clear: both;
}

.page-footer .copyright{
    float: right;
}

.page-footer .credits{
    float: right;
    padding-right: 1em;
}

.page-footer-content{
    padding: 1em 0;
}
